# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
hw/wifi_car/untitled.b#*
hw/wifi_car/untitled.s#*
fw/.metadata/*
fw/lpc_chip_11uxx_lib/Debug
fw/nxp_lpcxpresso_11u14_board_lib/Debug
fw/wi_brain_fw/Debug/makefile
fw/wi_brain_fw/Debug/
